:root,
[data-bs-theme=dark] {
  --bs-success: #09ff00;
  --bs-success-rgb: 9, 255, 0;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 8.5vw);
    grid-template-rows: repeat(8, 6vw);
    grid-template-areas:
        "a a b b b b c c c d d"
        "a a e f f f c c c d d"
        "q q q f f f c c c w w"
        "r r r f f f c c c w w"
        "t t t y y y c c c u u"
        "t t t i i i i o o p p"
        "t t t i i i i o o s s"
        "t t t i i i i o o g g";
    gap: 0.3rem;
}

.pfp img {
    width: 65%;
    margin: auto auto;
    filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(90deg) saturate(1000%);
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.q {
    grid-area: q;
}

.r {
    grid-area: r;
}

.t {
    grid-area: t;
}

.y {
    grid-area: y;
}

.i {
    grid-area: i;
}

.o {
    grid-area: o;
}

.p {
    grid-area: p;
}

.s {
    grid-area: s;
}

.g {
    grid-area: g;
}

.w {
    grid-area: w;
}

.u {
    grid-area: u;
}