:root,
[data-bs-theme=dark] {
  --bs-success: #09ff00;
  --bs-success-rgb: 9, 255, 0;
}

 @font-face {
    font-family: 'digital';
     src: url('../../assets/font/digital-7.ttf'),
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'digital';

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 8.5vw);
    grid-template-rows: repeat(8, 6vw);
    grid-template-areas:
        "a a b b b b c c c d d"
        "a a e f f f c c c d d"
        "q q q f f f c c c w w"
        "r r r f f f c c c w w"
        "t t t y y y c c c s s"
        "t t t i i i i o o u u"
        "t t t i i i i o o p p"
        "t t t i i i i o o g g";
    gap: 0.3rem;
}

.pfp img {
    width: 65%;
    margin: auto auto;
}

#carte canvas {
  width: 90vmin;
  height: 90vmin;
}

.zdog-canvas {
  width: 100%;
  z-index: 1000;
  margin: auto auto;
}

.balle {
    width: 50%;
    height: 50%;
    container-type: size;
}

.balles {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: #09ff00;
    z-index: -1
}

.balleCcontainer2 {
    transform: translateY(-100%);
}

.progressa {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* .a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
    filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(90deg) saturate(1000%);
} */

#colorSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding-right: 0;
}


.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.q {
    grid-area: q;
}

.r {
    grid-area: r;
}

.t {
    grid-area: t;
}

.y {
    grid-area: y;
}

.i {
    grid-area: i;
}

.o {
    grid-area: o;
}

.p {
    grid-area: p;
}

.s {
    grid-area: s;
}

.g {
    grid-area: g;
}

.w {
    grid-area: w;
    z-index: 0;
}

.u {
    grid-area: u;
}